* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #0c1022;
    color: #fff;
    /* width: 100%;
    height: 100%; */
    user-select: none;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.header .logo a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.header .navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header .navbar a.active,
.header .navbar a:hover {
    background: linear-gradient(45deg, #f06,
            #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



.section1 .home {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.section1 .home .home-content {
    max-width: 500px;
    margin-left: -30px;
}

.section1 .home .home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.section1 .home .home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.section1 .home .home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.section1 .home .home-content .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    color: #fff;
    border-radius: 40px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.8s;

}

.section1 .home .home-content .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: 5s ease;
}

.section1 .home .home-content .btn:hover:before {
    background-position: 100% 0;
}

.section1 .home .home-content .btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: 5s ease;
}

.section1 .home .home-content .btn:hover:after {
    background-position: 100% 0;
}



.section1 .home .home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.section1 .home .home-sci a:nth-child(1) {
    opacity: 0;
    animation: slideBottm 1s ease forwards;
    animation-delay: 2.1s;
}

.section1 .home .home-sci a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.section1 .home .home-sci a:nth-child(3) {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}
.section1 .home .home-sci a:nth-child(4) {
    opacity: 0;
    animation: slideBottm 1s ease forwards;
    animation-delay: 2.1s;
}

.section1 .home .home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;

}

.section1 .home .home-sci a:hover:before {
    filter: blur(5px);
}

.section1 .home .home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.section1 .home .home-sci a:hover:after {
    transform: scale(0);
}


.section1 .home .home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatimage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;

}

.section1 .home .home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .home .home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background-color: #0c1022;
    border-radius: 50%;
}

.section1 .home .home-img .glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.section1 .home .home-img .glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.section1 .home .home-img .glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden
}

.section1 .home .home-img .glowing-circle .image img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 380px;
    object-fit: cover;
}

.section2 .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.section2 .about .about-img img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2.1s, 3.1s;
    border-radius: 100%;
}

.section2 .about .about-text h2 {
    font-size: 60px;
}

.section2 .about .about-text h2 span {
    background: linear-gradient(45deg, #f06,
            #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section2 .about .about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.section2 .about .about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.section2 .about .about-text .btn-box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    color: #fff;
    border-radius: 40px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.8s;

}

.section2 .about .about-text .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: 5s ease;
}

.section2 .about .about-text .btn-box:hover:before {
    background-position: 100% 0;
}

.section2 .about .about-text .btn-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: 5s ease;
}

.section2 .about .about-text .btn-box:hover:after {
    background-position: 100% 0;
}

.section3 .services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.section3 .services .container {
    padding: 90px;
}

.section3 .sub-title {
    text-align: center;
    font-size: 60px;
    /* padding: 70px; */
}

.section3 .sub-title span {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section3 .services .service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.section3 .services .service-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.section3 .services .service-list div:hover {
    transform: translateY(-10px);

}

.section3 .services .service-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.section3 .services .service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section3 .services .service-list div a {
    text-decoration: none;
    color: #081b29;
    background: linear-gradient(45deg, #f06, #3cf);
    padding: 12px 28px;
    letter-spacing: 1px;
    border-radius: 40px;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #3cf, 0 0 25px #3cf;
}

.section3 .services .service-list div a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: 5s ease;
}

.section3 .services .service-list div a:hover:before {
    background-position: 100% 0;
}

.section3 .services .service-list div a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: 5s ease;
}

.section3 .services .service-list div a:hover:after {
    background-position: 100% 0;
}

/* item section */
.item {
    margin-top: 20px;
    width: 100%;
    height: auto;
    /* animation: slideRight 2s ease forwards; */
}

.item .container {
    width: 100%;
    height: auto;
    position: relative;
}

.item .heading {
    text-align: center;
}

.item .heading h1 {
    font-size: 60px;
    font-weight: 500;
    padding: 10px;
}
.item .heading h1 span {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.item .container .cards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: auto;
}

.item .container .cards::-webkit-scrollbar {
    display: none;
}


.item .container .card {
    width: 100%;
    height: auto;
    position: relative;
    margin: 30px 20px;
}

.item .container .card img {
    width: 300px;
    height: 300px;
    transition: .2s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(12, 9, 9, 0.796);
    aspect-ratio: 5/4;
    object-fit: fill;
}

.item .container .card .content {
    width: 90%;
    position: absolute;
    top: 0px;
    left: 10px;
    display: none;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    transition: .3s linear;
    word-break: break-all;
    line-height: 20px;
}

.item .container .card:hover .content {
    display: flex;
    transform: scale(1.1);
}

.item .container .card:hover img {
    display: flex;
    filter: grayscale(50%);
    transform: scale(1.1);
    filter: blur(2px);
    filter: brightness(50%);
}

.item .container .card .content h2 {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 300;
    font-size: 18px;
}

.item .container .card .content p {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
}

.item .container .card .content a {
    text-decoration: none;
    border-bottom:  3px dotted #f06;
    font-size: 18px;
    color: #3cf;
    transition: .3s linear;
}

.item .container .move {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: -20px;
    left: 50px;
}

.item .container .move i {
    font-size: 30px;
    margin-right: 20px;
}

                                                         /* progress bar */

.container2 {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skills {
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    width: 900px;
    height: 10px;
    border-radius: 5px;
    background-color: #555;
    margin-bottom: 20px;
}

.progress {
    height: 10px;
    border-radius: 5px;
    background-color: #f00;

}

.progress-bar span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 25px;
    bottom: 7px;

}

.html .progress {
    background-color: #f06529;
    animation: progress-html 1.5s linear forwards;

}

.css .progress {
    background-color: #2965f1;
    animation: progress-css 1.5s linear forwards;

}

.javascript .progress {
    background-color: #f7dc6f;
    animation: progress-javascript 1.5s linear forwards;
}

.boot .progress {
    background-color: #6610f2;
    animation: progress-boot 1.5s linear forwards;
}

.python .progress {
    background-image: linear-gradient(to right, #ffde57, #4584b6);
    animation: progress-python 1.5s linear forwards;
}

.mysql .progress {
    background-image: linear-gradient(to right, #00758f, #f29111);
    animation: progress-mysql 1.5s linear forwards;
}

.django .progress {
    background-color: #092e20;
    animation: progress-django 1.5s linear forwards;
}

.html span {
    border: 1px solid #337ab7;

}

.css span {
    border: 1px solid #8bc34a;
}

.javascript span {
    border: 1px solid #f7dc6f;
}

.python span {
    border: 1px solid #4CAF50;
}

.boot span {
    border: 1px solid #61dafb;
}

.mysql span {
    border: 1px solid #b0608e;
}

.django span {
    border: 1px solid #735ec5;
}

@keyframes progress-html {
    0% {
        width: 0;
    }

    100% {
        width: 94%;
    }
}

@keyframes progress-css {
    0% {
        width: 0;
    }

    100% {
        width: 86%;
    }
}

@keyframes progress-javascript {
    0% {
        width: 0;
    }

    100% {
        width: 83%;
    }
}

@keyframes progress-boot {
    0% {
        width: 0;
    }

    100% {
        width: 89%;
    }
}

@keyframes progress-python {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes progress-mysql {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes progress-django {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}


                                                   /* section4 */

/* .section4 .info ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.section4 .info ul li {
    padding: 20px;
}

.section4 .info ul li span {
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */

.footer{
    width:auto;
    height: auto;
    background: #333;
}
.footer .cont a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, circleRotate 5s linear 3;
    animation-delay: 2.1s, 3.1s;
}

.footer .container {
    margin-top: 30px;
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    word-break: break-all;
}
.footer .container .footer_form {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.footer .container .footer_form .frist .about {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer .container .footer_form .frist .about h1 {
    font-size: 22px;
    color: #3cf;
    font-weight: 500;
}
.footer .container .footer_form .frist .about h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.footer .container .footer_form .frist .about p {
    color: rgb(152, 152, 152);
    font-size: 14px;
    font-weight: 300; 
}

.footer .container .footer_form .frist .social_link{
    margin-top: 10px;
}
.footer .container .footer_form .frist .social_link  a {
    text-decoration: none;
    color: #fff;
    transition: .3s linear;
}
.footer .container .footer_form .frist .social_link  a:hover {
    color: #3cd;
}

.footer .container .footer_form .second .contact {
    display: flex;
    flex-direction: column;
}
.footer .container .footer_form .second .contact h1 {
    font-size: 22px;
    color: #3cf;
    font-weight: 500;
}
.footer .container .footer_form .second .contact h1 {
    font-size: 22px;
    color: #3cf;
    font-weight: 500;
}

.footer .container .footer_form .second .contact h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.footer .container .footer_form .second .contact p {
    color: rgb(152, 152, 152);
    font-size: 14px;
    font-weight: 300;   
}
.footer .container .footer_form .second .contact a {
    text-decoration: none;
    color: rgb(152, 152, 152);
    font-size: 14px;
    font-weight: 300;
}

.footer .container .footer_form .second .btn  {
    margin-top:10px;
    border:none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #3cd;
    transition: .3s linear;
}

.footer .container .footer_form .second .btn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.footer .container .footer_form .second .btn:hover  {
    background:#00758f;
}

.footer .container .footer_form .third   {
    display: flex;   
}
.footer .container .footer_form .third .link   {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .container .footer_form .third .link  h1 {
    font-size: 22px;
    color: #3cf;
    font-weight: 500;
}
.footer .container .footer_form .third .link  a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.footer .copy_right {
    margin-top: 30px;
    display: flex;
    justify-content:center;
}
.footer .copy_right p {
    font-size: 18px;
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideBottm {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



/* media query */

@media screen and (max-width:768px) {
    .section1 .home {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:center;
        /* padding: 70px 10% 0; */
        width: 90%;
        margin: auto;
    }
    .header .navbar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .section1 .home-sci {
        display: flex;
    }
    .section1 .home .home-sci a {
        margin: 20px 10px;
    }

    .section1 .home .home-content {
        max-width: unset;
        width: 100%;
    }

    .section1 .home .home-img {
        margin-top: 30px;
    }

    .section2 .about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
        margin: auto;
    }

    .section2 .about .about-img {
        width:80%;
    }
    .section2 .about .about-img img {
        width: 100%;
        height: auto;
    }

    .section2 .about .about-text {
        width: 100%;
    }

    .section3 .services .service-list div {
        width: 80%;
        margin: auto;
    }

    .item .container {
        width: 80%;
        margin: auto;
    }
    .progress-bar {
        width: auto;
    }

    .footer .container {
        width: 80%;
        margin: auto;
    }
    .footer .container .footer_form {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer .container .footer_form .frist , .second ,.third {
        width: 50%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }

    .footer .container .footer_form .frist , .second ,.third h1{
        line-height: 25px;
    }

    .footer .container .footer_form .third .link {
        line-height: 30px;
        align-items: flex-start;
    }
}


@media screen and (max-width:576px) {
    .header .logo {
        padding-left: -8px;
        font-size: 18px;
    }
    .header .navbar{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .header .navbar a {
        font-size: 15px;
        font-weight: 500;
        margin-left: 10px;
    }

    .section2 .about {
        margin-top: 50px;
    }
    
}

@media screen and  (min-width: 769px) and (max-width: 1239px)  {
    .section1 {
        width: 100%;
    }
    .section1 .home {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .section1 .home .home-content , .home-img {
        width: 38%;
    }
    .section1 .home .home-sci{
        width: 10%;
        margin-left: -20px;
    }

    .progress-bar {
        width: auto;
    }
}
